.header-page-blog {

	.hero-banner-blog {
		display: flex;
		align-items:flex-end;
		.height(80vh);
		.relative;
		.overflow-hidden;
		.width(100%);

		@media @mobile {
			.height(100vh);
		}

		@media (min-width:320px) {
			max-height: 450px;
		}

		@media (min-width:641px) {
			max-height: 750px;
		}

		@media (min-width:1920px) {
			max-height: 800px;
		}

		.mask-img {
			.z-index(120);
			.absolute;
			.top(0);
			.right(0);
			.bottom(0);
			.left(0);
			background: fade(@black-color,25%);
		}

		.absolute-page-blog {
			.absolute;
			.top(0);
			.right(0);
			.bottom(0);
			.left(0);
			.z-index(100);
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment:fixed;
			background-image: url('../gfx/slide-4.jpg');

			&.blog-single-bck {
				background-position: 50% 0%;
			}

			@media @mobile {
				background-attachment: scroll;
			}
		}

		.bottom-content-blog {
			.relative;
			.z-index(125);
			background: fade(@white-color, 90%);
			flex: 0 0 100%;

			.badge-section {
				.btn-header {
					.inline-block;
			
					background: @yellow-color;

					.header-flex {
						padding: 12px 30px 12px 30px;

						.page-header {
							.center-align;
							.inline-block;
							letter-spacing: 0.5px;
							color: @white-color;
							vertical-align: middle;
							line-height: 1;

							@media (min-width:320px) {
								font-size: 1.8rem;
							}

							@media (min-width:641px) {
								font-size: 2.2rem;
							}


							@media (min-width:993px) {
								font-size: 2.4rem;
							}

							@media (min-width:1680px) {
								font-size: 2.6rem;
							}
						}
					}
				}
			}

			.short-blog-content {
				padding: 40px 0;
				color: @grey-color;
				
				p {
					@media @mobile {
						.none;
						font-size: 1.2rem;
					}

					&.show-text {
						.block;
					}
				}


				@media @tablet-small {
					padding:15px 0;
				}

				.blog-header {
					color: @grey-color;
					font-size: 3.0rem;
					margin-bottom: 15px;
					line-height: 1.5;
					.width(100%);
					display: flex;
					align-items:center;

					span {
						.inline-block;
					}

					.switcher-text {
						font-size: 1.6rem;
						margin-left: 10px;
						cursor: pointer;
						.none;

						@media @mobile {
							.block;
						}
					}


					@media @tablet-medium {
						font-size: 2.6rem;
					}

					@media @mobile {
						font-size: 2.0rem;
					}



					span {
						.inline-block;
						line-height: 1.0;
					}
				}
			}
		}
	}
}


/*Single article*/
#blog-content {
	@media @mobile {
		padding: 0 3rem;
	}

	.blog-single-header {
		margin-bottom: 15px;
		display: flex;
		flex-direction:column;
		justify-content: flex-start;
		.width(100%);
		max-width: 500px;

		.blog-header {
			color: @grey-color;
			font-size: 3.0rem;
			line-height: 1.1;
			font-weight: 600;
			
			@media @tablet-medium {
				font-size: 2.6rem;
			}

			@media @mobile {
				font-size: 2.0rem;
			}
		}
	}

	
	img {
		.block;
		margin: 30px auto;
		text-align:center;
		max-width: 100%;
		.height(auto);
	}


	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom:0;

		}

		@media (min-width:320px) {
			font-size: 1.4rem
		}

		@media (min-width:641px) {
			font-size: 1.6rem
		}

		@media (min-width:1680px) {
			font-size: 1.8rem
		}

		@media (min-width:1920px) {
			font-size:2.0rem
		}

		a {
			text-decoration: underline;
			color: @yellow-color;
		}
	}


	ul {
		margin: 0 0 1.5rem 0;
		list-style: none;
		padding-left: 1.5rem;

		li {
			font-size: 2.0rem;
			line-height: 1.3;
			margin-bottom: 0.8rem;

			@media (max-width:1441px) {
				font-size: 1.8rem;
			}

			@media @mobile{
				font-size: 1.6rem;
			}

			&:before {
				content: "•"; 
				color: @yellow-color;
				 display: inline-block; 
				 width: 1.5rem;
				 margin-left: -1.5rem;
			}

			a {
				text-decoration: underline;
				color: @yellow-color;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	



	.bottom-navigation-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		@media @tablet-medium {
			justify-content: center;
			flex-direction:column;	
		}

		.cta-btn {
			&.read-more-pag {
				border: 1px solid @yellow-color;
				color: @grey-color; 
				background: @yellow-color !important;
				font-size: 1.8rem;
				background: @white-color;
				font-family: @header-family;
				font-weight: 400;
				text-decoration: none !important;

				@media (max-width:1366px) {
					font-size: 1.6rem;
				}

				@media @desktop-height {
					font-size: 1.8rem;
				}

				@media @tablet-small  {
					font-size: 1.4rem;
				}
			}
	}

		.cta-btn {
			margin-bottom: 1.0rem;
		}
	}

	.related-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.blog-article {
			.width(50%);
			display: flex;
			flex-wrap: wrap;

			@media @tablet-medium {
				.width(100%);
			}

			&:nth-child(1) {
				padding-right:1.0rem;

				@media @tablet-medium {
					padding-right:0;
					margin-bottom: 15px;
				}
			}

			&:nth-child(2) {
				padding-left:1.0rem;

				@media @tablet-medium {
					padding-left:0;

				}
			}

			.article-inner-blog {
				.width(100%);

				


			.blog-article-content {
				.relative;
				.width(100%);
				padding-top: calc(1 / (16 / 9 ) * 100%);
				.overflow-hidden;

			@media @mobile {
				padding-top: 0;
				min-height:40vh;
			}
				
			&:after {
				.block;
				content:"";
				.width(100%);
				.height(100%);
				.top(0);
				.left(0);
				.absolute;
				background: fade(@black-color, 30%);
				z-index: 100;
			}

			&.bck-f {
					background-position: 50% 50%;
	    			background-size: cover;
					background-repeat: no-repeat;

					&.news-1 {
    					background-image: url('../gfx/slide-1.jpg');
    				}

    				&.news-2 {
    					background-image: url('../gfx/slide-2.jpg');
    				}

    				&.news-3 {
    					background-image: url('../gfx/slide-3.jpg');
    				}
				}

					.absolute-inner {
						.absolute;
						.width(100%);
						.height(100%);
						.top(0);
						.right(0);
						.bottom(0);
						.left(0);
						z-index: 105;
					

						.blog-flex-wrapper {
							.relative;
							display: flex;
							flex-wrap:wrap;
							.width(100%);
							.height(100%);
							padding: 30px 25px;
							justify-content:flex-end;
							flex-direction:column;
							color: @white-color;

							.blog-title {
								color: @white-color;
			                	font-size: 2.8rem;
			                	margin-bottom: 5px;
			                	line-height: 1.0;
			                	.width(100%);

				                @media @tablet-medium {
				                    font-size: 2.4rem;
				                }

				                @media @mobile {
				                    font-size: 1.8rem;
				                }


				                span {
				                    .block;
				                    line-height: 1.0;
				                }
							}

							.date {
								.block;
								color: @white-color;
								margin-bottom: 15px;
								font-size: 1.6rem;
								font-weight: 300;

								@media @mobile {
									font-size: 1.2rem;
								}

							}
						}
					}
				} 
			}
		}
	}
}


/*Blog content*/
#blog {

	.filter-flex-list {
		display: flex;
		justify-content:space-between;
		.list-reset;
		flex-wrap:wrap;
		margin-bottom: 30px;

		li {
			width: 49.0%;
			flex:1;
			padding:5px;
			cursor: pointer;

			&.mixitup-control-active {
				span {
					background-color: @yellow-color;
					color: @white-color;
				}
				
			}

			@media (max-width:1025px) {
				width: 50%;
				justify-content:center;
				flex:auto;
			}

			@media @mobile {
				width: 100%;
			}

			span {
				.block;
				.center-align;
				padding:12px 14px 12px 14px;
				line-height: 1;
				font-size: 1.6rem;
				color: @grey-color;
				border: 1px solid @yellow-color;

				@media (max-width:1170px) {
					font-size: 1.4rem;
				}
			}
		}
	}

	.blog-section {
		
		padding-bottom: 30px;
		display: flex;
		flex-wrap:wrap;

		@media @mobile {
			padding-left: 0px;
			padding-right: 0px;
		}

		.blog-article {
			padding: 0.5em;
			 display: flex;
			flex-wrap:wrap;
			.width(33.33%);
			animation: anim .3s ease-in-out;
			.translate(0,0);

			&.filter-active {
				animation: anim .3s ease-in-out;
				.translate(0,0);
			}

			&.filter-hide {
				opacity: 0;
				.scale(0);
				.translate(-100%,0);
				.none;
			}

			@media (max-width:1680px) {
				/*min-height:50vh;*/
			}
			

			@media (max-width:1680px) {
				 .width(50%);

			}

			@media @tablet-medium {
				.width(100%);
				flex:auto;
				justify-content:center;

			}

		}

		.article-inner-blog {
			.width(100%);
			

			.blog-article-content {
				.relative;
				.width(100%);
				padding-top: calc(1 / (16 / 9 ) * 100%);
				.overflow-hidden;

				@media @mobile {
					padding-top: 0;
					min-height:40vh;
				}
				
				&:after {
					.block;
					content:"";
					.width(100%);
					.height(100%);
					.top(0);
					.left(0);
					.absolute;
					background: fade(@black-color, 30%);
					z-index: 100;
				}

				&.bck-f {
						background-position: 50% 50%;
		    			background-size: cover;
    					background-repeat: no-repeat;

    					&.news-1 {
	    					background-image: url('../gfx/slide-1.jpg');
	    				}

	    				&.news-2 {
	    					background-image: url('../gfx/slide-2.jpg');
	    				}

	    				&.news-3 {
	    					background-image: url('../gfx/slide-3.jpg');
	    				}
					}

				.absolute-inner {
					.absolute;
					.width(100%);
					.height(100%);
					.top(0);
					.right(0);
					.bottom(0);
					.left(0);
					z-index: 105;
				

					.blog-flex-wrapper {
						.relative;
						display: flex;
						flex-wrap:wrap;
						.width(100%);
						.height(100%);
						padding: 30px 25px;
						justify-content:flex-end;
						flex-direction:column;
						color: @white-color;

						.blog-title {
							color: @white-color;
		                	font-size: 2.8rem;
		                	margin-bottom: 5px;
		                	line-height: 1.0;
		                	.width(100%);

			                @media @tablet-medium {
			                    font-size: 2.4rem;
			                }

			                @media @mobile {
			                    font-size: 1.8rem;
			                }


			                span {
			                    .block;
			                    line-height: 1.0;
			                }
						}

						.date {
							.block;
							color: @white-color;
							margin-bottom: 15px;
							font-size: 1.6rem;
							font-weight: 300;

							@media @mobile {
								font-size: 1.2rem;
							}

						}
					}
				}
			} 

		}

	}

}


@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}





