

/*Case studies*/
#cases-slider {

	

	@media @tablet-medium {
		padding-top: 60px;
	}


	@media @desktop-height {
		padding-top: 0;
	}



	.case-text-header {
		color: @dark-grey;
		
		font-size: 1.8vh;
		.uppercase;

		@media (min-width:320px) {
			font-size:2.0rem;
			.center-align;
			margin-bottom: 15px;
		}

		@media (min-width:641px) {
			font-size: 2.6rem;
			
		}

		@media (min-width:993px) {
			.left-align;
		}

		@media @small-desktop {
				font-size: 2.6vh;
		}

		@media (min-width:1170px) {
			font-size:1.8vh;
			.left-align;
			margin-bottom: 1.0vh;
		}


		@media (min-width:1300px) {
			font-size: 2.6vh;
			.left-align;
			margin-bottom: 1.0vh;
		}

		@media (min-width:1440px) {
			font-size: 1.8vh;
			line-height: 2.0vh;
			margin-bottom: 1.2vh;
		}

		@media (min-width:1680px) {
			font-size: 2.0rem;
			line-height: 1.1;
		}

		span {
			.block;
			@media @mobile {
				.inline-block;
			}
		}
	}

	.relative;
	.overflow-hidden;
	.width(100%);

	.case-container {
		.height(100%);
		.relative;
		display: table;

		.slide-case {
			display: table-cell;
			.width(100%);
			.height(100%);
			background-color: transparent;
			opacity: 1;
			vertical-align: top;

			@media @tablet-medium {
				height: auto !important;
				min-height: 100vh;
			}

			.case-bck-container {
				.relative;
    			.overflow-hidden;
    			.width(100%);
    			.height(100%);

    			@media @tablet-medium {
					height: auto !important;
					min-height: 100vh;
				}

    			.bck-container {
    				.relative;
    				.overflow-hidden;
    				.width(100%);
    				.height(100%);
    				background: @white-color;

    				.absolute-pos {
    					.absolute;
    					.width(100%);
    					.height(100%);
    					.left(0);
    					.top(0);

    					@media @tablet-medium {
    						.relative;
    					}

    					.scroll-down-arrow {
    						.none;
    						.absolute;
    						.bottom(5%);
    						.height(60px);
    						.width(60px);
    						.left(50%);
    						.translate(-50%,0);
    						.z-index(110);

    						.arrow-down-inner {
    							background-image: url('@{img-gfx}/arrow-down.svg');
            					background-position: 50% 50%;
            					background-repeat: no-repeat;
           						background-size: 70% auto;
           						.relative;
					            .width(100%);
								.height(100%);
								-webkit-animation: bounce 1.5s linear infinite;
					    		animation: bounce 1.5s linear infinite;
					    		cursor: pointer;
    							
    						}

    						@media @tablet-medium {
    							.block;
    						}
    					}
    				}

    				.container-texts {
    					z-index: 145;

    					.all-content-wrapper {
    						.relative;
    						.overflow-hidden;
    						.width(100%);
    						.height(100%);

    						z-index: 148;
							display: flex;
							justify-content:flex-start;
							align-items:flex-end;

							.case-content-inner {
								
								display: flex;
								justify-content:flex-end;
								.relative;

								p {

									.center-align;
									color: @grey-color;

									@media (min-width:320px) {
										font-size: 1.4rem;
										line-height: 1.7;
									}


									@media (min-width:768px) {
										font-size: 1.6rem;
										line-height: 1.7;
									}
									

									@media (min-width:993px) {
										.left-align;
										font-size: 1.7vh;
										line-height: 2.8vh;
										margin-bottom: 1.7vh;
										
									}

									@media (min-width:1170px) {
										font-size: 1.4vh;
										line-height: 2.6vh;
										margin-bottom: 1.7vh;
										
									}

									@media (min-width:1290px) {
										font-size: 1.7vh;
										line-height: 2.8vh;
										margin-bottom: 1.7vh;
									}

									@media (min-width:1440px) {
										font-size: 1.6vh;
										line-height: 2.6vh;
										margin-bottom: 1.7vh;
									}

									@media (min-width:1680px) {
										font-size: 1.4rem;
										line-height: 1.7;
										margin-bottom:1.5rem;
									}

									
								}

								@media @tablet-medium {
									flex-direction:column;
									padding: 0;
								}


								.case-column {
									min-height:200px;

									@media @tablet-medium {
										min-height:auto;
									}


										&.case-left {
											.width(90%);
											padding-bottom:95px;
											background: fade(@white-color, 90%);
											padding-left: 8%;
											order:1;
											transform-origin: 100% 50%;
											transform:scaleX(0);
											opacity: 0;



											@media (max-width:1920px) {
												.width(85%);
											}

											@media (max-width:1680px) {
												.width(80%);
												padding-bottom:75px;
											}
											
											@media (max-width:1170px) {
												.width(75%);
											}

											@media @tablet-medium {
												.width(100%);
												order:2;
												padding-left: 0;
												opacity: 1 !important;
												transform:scaleX(1) !important;
												visibility: visible !important;
											}

											.case-header-badge {
												.width(100%);
												margin-bottom:3.6vh;
												.overflow-hidden;
												display: flex;
												justify-content:flex-start;

												@media @tablet-medium {
													padding: 0 30px;
													margin-bottom: 0px;
												}
											}

											.case-text-wrapper {
												padding: 0 0 0 40px;
												border-left:8px solid @yellow-color;
												display: flex;
												justify-content:space-between;

												@media @tablet-medium {
													flex-direction:column;
													padding: 0 30px 0px 30px;
													border: none;
												}



												.text-inner-case {
													&.flex-inner {
														.width(49.0%);

														@media @tablet-medium {
															.width(100%);
														}
													}

													&.text-center-flex {
														display: flex;
														justify-content:flex-start;
														align-items:center;

													}
												}
											}
										}

										&.case-right {
											.width(10%);
											background: fade(@white-color, 90%);
											align-self: stretch;
											order:2;
											cursor: pointer;

											@media (max-width:1920px) {
												.width(15%);
											}

											@media (max-width:1680px) {
												.width(20%);
											}

										
											@media (max-width:1170px) {
												.width(25%);
											}

											@media @tablet-medium {
												cursor: none;
											}

											display: flex;
											justify-content:flex-start;

											.btn-column {
												width: 100%;
												max-width: 50px;
												background: @yellow-color;
												opacity: 1;
												.translate(0,0);
												display: flex;
												justify-content:center;
												align-items:center;
												min-height: 100%;
												flex-direction: column;

												.property-title {
													.relative;
													max-width: 50px;
													.height(100%);
													.width(100%);

													.tab-outside {
														.height(100%);
														.width(100%);
														.absolute;

														.tab-caption {
															.absolute();
															.top(50%);
															.height(2px);
															 white-space: nowrap;
															 transform: translateX(-50%) rotate(-90deg);
															 color: @white-color;
															 .left(50%);
															 font-weight: 700;
															 .center-align;
															 line-height: 0px;
															 margin-top: -1px;
															 font-size: 1.2rem;
															text-transform: uppercase;
															font-weight: 300;
														}
													}
												}


												@media @tablet-medium {
													.none;
												}
											}

											.gallery-wrapper {
												width: 100%;
												display: flex;
												justify-content:flex-start;
												align-items:center;

												@media @tablet-medium {
													padding: 30px;
												}

												.thumbnail-case-wrapper {
													
													
													display: flex;
													align-items:center;
													width: 100%;

													.all-thumb-wrapper {
														display: flex;
														flex-wrap:wrap;
														.width(100%);
														justify-content:center;

														

														@media @tablet-medium {
															flex-direction:row;
															justify-content:space-between;
														}

														.img-wrapper {
															margin:4px;
			  												width: calc(50% - 8px);




															@media @tablet-medium {
																.width(25% - 2px);
																margin: 0;
																
															}
															

															.thumb-bck {
																background-position: 50% 50%;
					    										background-size: cover;
					    										background-repeat: no-repeat;
					    										padding-bottom: 100%;
					    										cursor: pointer;


					    										&.thumb-1 {
					    											background-image: url('../gfx/slide-1.jpg');
					    										}

					    										&.thumb-2 {
					    											background-image: url('../gfx/slide-2.jpg');
					    										}

					    										&.thumb-3 {
					    											background-image: url('../gfx/slide-3.jpg');
					    										}


					    										&.thumb-4 {
					    											background-image: url('../gfx/slide-4.jpg');
					    										}

					    										&.thumb-1-a {
					    											background-image: url('../gfx/property-1.jpg');
					    										}

					    										&.thumb-2-a {
					    											background-image: url('../gfx/property-2.jpg');
					    										}

					    										&.thumb-3-a {
					    											background-image: url('../gfx/property-3.jpg');
					    										}


					    										&.thumb-4-a {
					    											background-image: url('../gfx/property-4.jpg');
					    										}
															}
														}
													}
												}
											}
										
											&.change-opacity {
												background: fade(#e7e7e7, 100%)
											}

									

											@media @tablet-medium {
												.width(100%);
												order:1;
											}
										}
									}

								}
    						}

    					}

    				.container-slides {
    					z-index: 100;


    					

    					@media @tablet-medium{
    						.height(60vh);
    					}

    					@media @desktop-height {
    						.height(100vh);
    					}

    					.big-bck-wrapper {
    						.relative;
    						.overflow-hidden;
    						.width(100%);
    						.height(100%);

    						.top-bck {
		    					.absolute;
		    					.z-index(90);
		    					.width(100%);
		    					.height(100%);
		    					.transition(opacity,.3s, ease-in-out);
		    					.left(0);
		    					.top(0);
		    					background-position: 50% 50%;
		    					background-size: cover;
		    					background-repeat: no-repeat;

    							opacity: 0;
    							visibility: hidden;
    							-moz-transform-origin: 100% 0;
    							-ms-transform-origin: 100% 0;
    							-webkit-transform-origin: 100% 0;
    							transform-origin: 100% 0;

    							&.active-big {
    								opacity: 1;
    								visibility: visible;
    								.z-index(100);
    							}

		    					&.inside-1 {
		    						background-image: url('../gfx/slide-1.jpg');
		    					}

		    					&.inside-2 {
		    						background-image: url('../gfx/slide-2.jpg');
		    					}

		    					&.inside-3 {
		    						background-image: url('../gfx/slide-3.jpg');
		    					}

		    					
		    					&.inside-4 {
		    						background-image: url('../gfx/slide-4.jpg');
		    					}

		    					&.inside-1-a {
		    						background-image: url('../gfx/property-1.jpg');
		    					}

		    					&.inside-2-a {
		    						background-image: url('../gfx/property-2.jpg');
		    					}

		    					&.inside-3-a {
		    						background-image: url('../gfx/property-3.jpg');
		    					}

		    					
		    					&.inside-4-a {
		    						background-image: url('../gfx/property-4.jpg');
		    					}
    						}
    					}
    				}
    			}
			}

		}
	}
}


.btn-text {
	width: 40px;
	height: 100%;
	position: absolute;
	background: red;
	display: flex;
	left: 0;
}

.case-btn-header {
	padding: 14px 20px 10px 20px;
	background: @yellow-color;
	color: @white-color;
	.inline-block;
	margin-right: 10px;

	.inner-case-header {
		.center-align;
		color: inherit;
		line-height: 1;
		letter-spacing: 0.5px;
	}

	@media @tablet-medium {
		.center-align;
		.block;
		margin: 0 auto;
		font-size: 2.0rem;
		padding: 12px 20px;
		background: @yellow-color;
		color: @white-color;
		margin-bottom: 30px;

	}
}



.arrow-container {
	display: flex;
	min-height: 40px;
	align-items:center;
	justify-content:center;
	.none;

	.arrow-back-wrapper {
		.width(40px);
		.height(40px);
		line-height: 40px;
		margin-right:15px;
		.relative;
		opacity: 1;
		padding: 5px;
		cursor: pointer;

		@media @tablet-medium {
			.none;
		}

		.arrow-inner {
			background-image: url('@{img-gfx}/arrow.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
           	background-size: 70% auto;
            .width(30px);
			.height(30px);
			-webkit-animation: bounce 1.5s linear infinite;
    		animation: bounce 1.5s linear infinite;
		}
	}
}

/*Pagination styling*/
.bottom-pagination-slider {
	.fixed;
	.z-index(149);
	.left(8%);
	max-width: 700px;
	.width(100%);
	height: 60px;
	.bottom(25px);

	@media (max-width:1680px) {
		.height(40px);
	}
	

	.pagination-inner {
		.relative;
		display: flex;
		justify-content:flex-start;
		align-items:center;
		.width(100%);
		.height(60px);

		@media (max-width:1680px) {
			.height(40px);
		}

		.counter-diamond {

			display: flex;
			justify-content:flex-end;
			align-items:center;

			.bullet-counter {
				.width(35px);
				.height(35px);
				.block;
				color: @grey-color;
				.center-align;
				cursor: pointer;
				.rotate(-45deg);
				border: 1px solid @grey-color;
				-webkit-transform-origin: 50% 50%;
				-moz-transform-origin: 50% 50%;
				-ms-transform-origin: 50% 50%;
				-o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
				.relative;
				.transition(all,.3s, linear);
				z-index: 200;
				align-self:flex-end;
				background: @white-color;

				@media (max-width:1680px) {
					.width(30px);
					.height(30px);
				}

				.bullet-text {
  					.center-align;
  					font-weight: normal;
  					font-size: 1.4rem;
  					.absolute;
  					.top(50%);
  					.left(48%);
  					transform: translate(-50%, -50%) rotate(45deg);
  					 -webkit-transform: translate(-50%, -50%) rotate(45deg);
  					-ms-transform: translate(-50%, -50%) rotate(45deg);

  					@media (max-width:1680px) {
						
						font-size: 1.2rem;
					}

  				}
			}
		}

		.line-flex-wrapper {
			.relative;
			flex:2;
			.height(35px);

			&:after {
				content: "";
				background-color: @grey-color;
				width: calc(100% - 2px);
				.absolute;
				.left(0);
				.height(1px);
				.top(50%);
				.translate(0,-50%);
			}
		}

		.pags-container {
			display: flex;
			justify-content:flex-start;
			align-items:center;
			flex:3;

			.pagination-case {
				.list-reset;
				.clearfix-group;

				li {
						.float(left);
						.width(35px);
						.height(35px);
						.block;
						color: @white-color;
						.center-align;
						cursor: pointer;
						.rotate(-45deg);
						border: 1px solid @grey-color;
						-webkit-transform-origin: 50% 50%;
  						-moz-transform-origin: 50% 50%;
  						-ms-transform-origin: 50% 50%;
 						-o-transform-origin: 50% 50%;
  						transform-origin: 50% 50%;
  						.relative;
  						.transition(all,.3s, linear);
  						z-index: 200;
  						
  						background: fade(@black-color, 20%);

  						@media (max-width:1680px) {
							.width(30px);
							.height(30px);
  						}

  						
						&.activeBullet {
							background: @white-color;
							border: 1px solid @grey-color;
							color: @grey-color;
						}
  						
				}

				.diamond-number {
					.center-align;
  					font-weight: normal;
  					font-size: 1.4rem;
  					.absolute;
  					.top(50%);
  					.left(48%);
  					transform: translate(-50%, -50%) rotate(45deg);
  					-webkit-transform: translate(-50%, -50%) rotate(45deg);
  					-ms-transform: translate(-50%, -50%) rotate(45deg);
  					.width(100%);
  					.block; 

  					@media (max-width:1680px) {
  						font-size: 1.2rem;
  					}
				}
			}
		}
	}

	@media @tablet-medium {
		.none;
	}
}

.footer-arrows {
	.fixed;
	.z-index(149);
	background-color: transparent;
	.width(100%);
	padding: 0 30px;
	.height(50px);
	.left(0);
	.top(40vh);
	.block;

	@media @desktop-height {
		.top(50%);
	}
	

	@media (min-width:993px) {
		.none;
	}

	.footer-arrows-inner {
		.relative;
		.width(100%);
		height: 50px;
		.margin-auto;

		.arrows-inner {
			.absolute;
			.width(50px);
			.height(50px);
			.top(50%);
			.translate(0,-50%);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			text-indent: -99999em;
			cursor: pointer;
			.transition(all,.3s,ease-in-out);

			&.arrow-inner-left {
				.left(0);
				background-image: url('../gfx/left-arrow.svg');
			}

			&.arrow-inner-right {
				.right(0);
				background-image: url('../gfx/right-arrow.svg');
			}

			&.disabled {
				opacity: 0.2;
			}
		}
	}
}


@keyframes bounce {
	0% {
		.translate(0,0);
	}

	20% {
		.translate(0,0);
	}

	40% {
		.translate(0,-5px);
	}

	50% {
		.translate(0,0);
	}

	60%{
		.translate(0,-5px);
	}

	80% {
		.translate(0,0);
	}

	100%{
		.translate(0,0);
	}
}

@-webkit-keyframes bounce {
	0% {
		.translate(0,0);
	}

	20% {
		.translate(0,0);
	}

	40% {
		.translate(0,-5px);
	}

	50% {
		.translate(0,0);
	}

	60%{
		.translate(0,-5px);
	}

	80% {
		.translate(0,0);
	}

	100%{
		.translate(0,0);
	}
}





