
#error-content {
	background-image: url('../gfx/slide-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	.relative;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;

	&:after {
		.absolute;
		.width(100%);
		.height(100%);
		content:"";
		background:fade(@black-color, 50%);
		.top(0);
		.left(0);
		.z-index(100);
	}


}

.flex-error {
	display: flex;
	justify-content:center;
	align-items:center;
	padding: 1.5rem 3.0rem;
	.relative;
	.z-index(102);
}

.logo-content {
	.width(30%);

	@media @tablet-small {
		.width(70%);
	}

	@media @mobile {
		.width(50%);
	}
	

	.logo-white {
		.height(100px);
		.block;
	}
}

.error-message {
	

	.error-header {
		.center-align;
		color: @white-color;
		font-weight: 800;
		font-family: @regular-font;
		.uppercase;
		font-size: 6.0vh;

		@media @tablet-small {
			font-size: 3.0rem;
		}

		@media @mobile {
			font-size: 2.6rem;
		}
	}
}

.text-message {
	
	
	.center-align;

	p {
		font-weight: 300;
		font-size: 3.0rem;
		color:@white-color;
		line-height: 1.4;

		@media @tablet-small {
			font-size: 2.0rem;
		}

		@media @mobile {
			font-size: 1.6rem;
		}

		span {
			.block;
			@media @mobile {
				.inline-block;
			}
		}
	}

}

.links-content {
	p {
		color: @white-color;
		.uppercase;
		.center-align;
		font-size: 1.8rem;

		@media @tablet-small {
			font-size: 1.6rem;
		}

		@media @mobile {
			font-size: 1.2rem;
		}

		a {
			text-decoration: none;
			color: @yellow-color;
		}
	}
}

