#plain {

	h2 {
		color: #616161;
		margin-bottom: 10px;

		@media (min-width:320px) {
			font-size:2.2rem;
		}

		@media (min-width:641px) {
			font-size:3.0rem;
		}


		@media (min-width:765px) {
			font-size:3.8rem;
			.left-align;
		}


		@media (min-width:1680px) {
			font-size:4.0rem;
		}

		@media (min-width:1920px) {
			font-size:5.0rem;
		}
	}


	h3 {
		color: @blue-color;
		margin-bottom: 10px;

		@media (min-width:320px) {
			font-size:1.8rem;
		}

		@media (min-width:641px) {
			font-size:2.0rem;
		}


		@media (min-width:765px) {
			font-size:2.8rem;
			.left-align;
		}


		@media (min-width:1680px) {
			font-size:3.0rem;
		}

		@media (min-width:1920px) {
			font-size:4.0rem;
		}
	}

	ul {
		padding-left: 30px;
		margin-bottom: 30px;

		li {
			font-size: 1.4rem;
			line-height: 2;

			a {
				color: @yellow-color;
			}
		}
	}
}



#table-layout {
	border: 1px solid #ccc;
  	border-collapse: collapse;
 	 margin: 0;
  	padding: 0;
  	width: 100%;
  	table-layout: fixed;

  	tbody {
  		tr {
  			background-color: #e8e8e8;
  			border: 1px solid #323232;

  			&:nth-child(even) {
  				background-color: #d5f2fe;
  			}
  		}
  	}

  	thead {
  
  		
  		tr {
  			text-align: left;
  			background-color: @blue-color;
  			border: 1px solid @dark-grey;
  			color: @white-color;


  		}

  		@media @mobile {
  			border: none;
		    clip: rect(0 0 0 0);
		    height: 1px;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    width: 1px;
  		}
  	}

  	tr {
  		
  		padding: .35em;
		border: 1px solid @dark-grey;

  		@media @mobile {
  			border-bottom: 3px solid #ddd;
    		display: block;
    		margin-bottom: .625em;
  		}
  	}

  	th,
  	td {
  		padding: .625em;
  		text-align: left;

  		@media @mobile {
  			 	border-bottom: 1px solid #ddd;
    			display: block;
    			font-size: .8em;
    			text-align: right;
  		}
  	}

  	td {
  		&:before {
  			@media @mobile {
  				content: attr(data-label);
    			float: left;
    			font-weight: bold;
    			text-transform: uppercase;
  			}
  	}	}

  	th {
  		font-size: .85em;
  		letter-spacing: .1em;
  		text-transform: uppercase;
  	}

  	@media @mobile {
  		border: 0;
  	}
}



