/*Global reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    .padding-margin-reset;
    border: 0;
    vertical-align: baseline;
}


* {
	.box-sizing(border-box);
}


html {
	font-size: 62.5%;
	/*background: @grey-color;*/
}

body {
	.padding-margin-reset;
	background: @white-color;
	.line-height(1.6);
	.overflow-x;
	font-size: 1.6rem;
	backface-visibility: hidden;
    text-rendering: optimizelegibility;
     -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family:@regular-font;
    .transition(all,.4s, ease-in-out);


    &.is-loading {
		overflow-y: hidden;
	}

	&.home-slider {
		overflow-y: hidden;
	}

	&.no-scroll {
		overflow-y: hidden;
		@media @tablet-medium {
			overflow-y: auto;
		}
	}


}


/*Preloader*/
#preloader {
	.top(50%);
	.left(50%);
	.fixed;
	.translate(-50%, -50%);
	.width(100%);
	.height(100%);
	.z-index(400);
	background-color: @grey-color;

	&.is-hidden {
		visibility: hidden;
    	opacity: 0;
	}

	.intro-logo-container {
		.top(50%);
		.left(50%);
		.absolute;
		.translate(-50%, -50%);

		.logo-container {
			.relative;
			background-position: 50% 50%;
			background-size: 90% auto;
			background-repeat: no-repeat;
			background-image: url("../gfx/main-logo-w.svg");
			width: 250px;
			height: auto;
			padding-bottom: 37.5%;
		}
	}

	/*.txt {
		.absolute;
		.top(50%);
		.left(50%);
		.absolute;
		.translate(-50%, -50%);

		.txt-perc {
			.center-align;
			font-size: 5.0rem;
			opacity: 1;
			margin: 0 0 6px 0;
    		max-width: 400px;
    		color: @white-color;
    		font-weight: 700;
    		font-family: @header-family;
		}

		.progress {
			.width(100px);
			.height(3px);
			background-color: fade(@yellow-color, 20%);
			margin: 0 auto 15px auto; 

			span {
				.block;
				.width(0);
				.height(100%);
				background-color: fade(@yellow-color, 80%);

			}
    	}
	}*/
}

a {
	.text-decoration;
	.transition(all, 0.3s, linear);
}


/*HEADERS*/
h1,h2,h3,h4,h5,h6, p {
	.padding-margin-reset;
	.line-height(1.2);
	font-family: @header-family;
}

p {
	font-family: @regular-font;
	font-weight: 400;
}

h1,h2,h3,h4 {
	font-weight: 600;
}

p {
	line-height: 1.5;
	color: @grey-color;
}



svg:not(:root) {
    .overflow-hidden;
}

.clearfix {
	.clearfix-group;
}

img {
	.img-responsive;
}

.main {
	padding: 0 60px;
	.clearfix-group;
}

.padding-section {
	padding: 0 3.0rem;
}

.page-wrapper {
	padding: 0 10%;

	@media (max-width:1440px) {
		padding: 0 8%;
	}

	@media @mobile {
		padding:0 30px;
	}

	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom:0;

		}

		@media (min-width:320px) {
			font-size: 1.4rem
		}

		@media (min-width:641px) {
			font-size: 1.6rem
		}

		@media (min-width:1680px) {
			font-size: 1.8rem
		}

		@media (min-width:1920px) {
			font-size:2.0rem
		}
	}
}

.blog-single-wrapper {
	@media @mobile {
		padding:0 30px;
	}
}

.section {
	padding: 40px 0;

	@media @tablet-medium {
		padding: 30px 0;
	}
}

.owl-carousel{
	.owl-dots {
    	.center-align;
         .overflow-hidden;
         .width(100%);
         .absolute;
         .bottom(-60px);
         .z-index(90);

        .owl-dot {

            .inline-block;
                span {
                  border-radius:50%;
                  background: @white-color;
                  .width(15px);
                  .height(15px);
                  margin:7px 5px;
                  .block;
            }

            &.active {
                span {
                    background: @salmon-color;
                }
            }
        }
	}
}



.container {
	padding: 0 30px;
	.clearfix-group;

	&.larger-space {
		padding: 0 160px;
		@media (max-width:1366px) {
			padding: 0 110px;
		}

		@media (max-width:992px) {
			padding: 0 80px;
		}

		@media @mobile-small {
			padding: 0 40px;
		}
	}
}

.container-fluid {
	padding: 0 5%;
	.clearfix-group;
}

.pos-center {
	.margin-auto;
	.width(100%);


	@media (min-width:320px) {
		max-width:100%;
	}

	@media (min-width:641px) {
		max-width:540px;
	}

	@media (min-width:768px) {
		max-width:750px;
	}

	@media (min-width:992px) {
		max-width:970px;
	}

	@media (min-width:1200px) {
		max-width:1280px;
	}

	@media (min-width:1366px) {
		max-width: 1680px;
	}

}

.row-spacer {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.row-content {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.content-center {
	.max-width(1200px);
	.margin-auto;
	.width(100%);
	.clearfix-group;

	@media (min-width:320px) {
		max-width:100%;
	}

	@media (min-width:641px) {
		max-width:540px;
	}

	@media (min-width:768px) {
		max-width:720px;
	}


	@media (min-width:1200px) {
		max-width:960px;
	}

}


/*Social media list*/
.nav-social-links {
	.list-reset;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
	flex-direction:row;
	min-height: 60px;

	li {

		padding: 0 5px;
		a {
			.width(35px);
			.height(35px);
			.line-height(33px);
			.block;
			border: 1px solid @white-color;
			color: @white-color;
			.center-align;
			border-radius: 100%;
			font-size: 1.6rem;

		}
	}
}

.yellow-header {
	color: @yellow-color;
}

.white-header {
	color: @white-color;
}

/*Headers*/

.key-slide-header {
	margin-bottom: 15px;
	line-height: 1;

	font-size: 6.5rem;

	@media (max-width:1680px) {
		font-size: 6vh;
	}

	 @media screen and (max-width: 992px) , screen and (max-height: 700px) {
  		font-size: 6.2vh;
	}

	@media @mobile {
		font-size: 2.6rem;
	}


	span {
		.block;
		line-height: 1.1;
	}
}

.slide-sub-header {
	margin-bottom: 15px;
	@media (min-width:320px) {
		font-size: 2.0rem;
	}

	@media (min-width:480px) {
		font-size: 2.6rem;
	}

	@media (min-width:1366px) {
		font-size: 3.0rem;
	}

	@media (min-width:1920px) {
		font-size: 3.4rem;
	}

	@media @desktop-height {
		font-size: 4.5vh;
		margin-bottom: 1.0vh;
	}
}


/*Buttons*/
.cta-btn {

	.inline-block;
	padding: 10px 34px;
	.center-align;

	@media (max-width: 1366px) {
		padding: 6px 22px;
	}

	@media @desktop-height {
		padding: 5px 10px;
	}

	@media @tablet-small {
		padding: 4px 12px;
	}

	
	&.read-more,
	&.read-more-pag

	 {
		border: 1px solid @green-color;
		color: @grey-color; 
		font-size: 1.8rem;
		background: @white-color;
		font-family: @header-family;
		font-weight: 400;

		@media (max-width:1366px) {
			font-size: 1.6rem;
		}

		@media @desktop-height {
			font-size: 1.8rem;
		}

		@media @tablet-small  {
			font-size: 1.4rem;
		}
	}

	&.read-more-pag {
		border: 1px solid @yellow-color;
		color: @grey-color; 
		background: @yellow-color;
	}

	&.margin-btn {
		margin-left: 10px;
	}

	&.blog-btn {
		border: 2px solid @salmon-color;
		color: @salmon-color; 
		font-size: 2.4rem;

		@media (max-width:1366px) {
			font-size: 1.6rem;
		}

		@media @desktop-height {
			font-size: 1.8rem;
		}

		

		@media @mobile {
			font-size: 1.6rem;
		}
	}
}

.cta-blog {
	.inline-block;
	padding: 6px 24px;
	.center-align;

	&.read-more {
		border: 1px solid @green-color;
		color: @grey-color; 
		font-size: 1.8rem;
		background: @white-color;
		font-family: @header-family;
		font-weight: 400;

		@media (max-width:1366px) {
			font-size: 2.0rem;
		}

		@media @desktop-height {
			font-size: 1.8rem;
		}

		@media @tablet-small  {
			font-size: 1.6rem;
		}
	}

	&.blog-btn {
		border: 2px solid @salmon-color;
		color: @salmon-color; 
		font-size: 2.4rem;

		@media (max-width:1366px) {
			font-size: 2.0rem;
		}

		@media @desktop-height {
			font-size: 1.8rem;
		}
		
		@media @mobile {
			font-size: 1.6rem;
		}
	}
}



.bolder-number {
	color: inherit !important;
	text-decoration: none !important;
	font-weight: 800;
}

/*Click buttons*/
.click-btn {
	padding: 5px 10px;
	font-size: 1.6rem;
	.center-align;
	color:@white-color;
	.inline-block;
	text-decoration: none !important;

	@media @mobile {
		.block;
		margin: 20px auto;
		.width(80%);
		padding: 12px 20px;
	}

	strong {
		color: @grey-color;
	}
	

	&.yellow-btn {
		background: @yellow-color;
	}

	&.blue-btn {
		background: @blue-color;
	}

	&.green-btn {
		background: @green-color;
	}

	&.transparent-btn {
		background-color: transparent;
		border: 1px solid @white-color;
	}

	&.viewport-btn {
		padding: 0.5vh 1.6vh;
		font-size: 1.8vh;

		@media (max-width:1023px) {
			padding: 8px 14px;
			font-size: 1.6rem;
			
		}
	}
}



.call-more-btn {
	.inline-block;
	.center-align;
	color: @white-color;
	font-weight: 300;

	span {
		.inline-block;
		.center-align;
		padding:12px 60px;
		line-height: 1;
		letter-spacing: 0.5px;
		font-size: 2.0rem;

		@media @tablet-small {
			font-size: 1.6rem;
			padding:12px 20px;
		}
	}

	&.blue-btn {
		span {
			background-color: @blue-color;
		}
	}

	&.transparent-btn {
		span {
			background-color: transparent;
			border: 1px solid @white-color;
		}
	}
}

.call-more-btn-footer {
	.inline-block;
	.center-align;
	color: @white-color;

	span {
		.inline-block;
		.center-align;
		padding:10px 30px;
		line-height: 1;
		font-size: 1.6rem;

		@media @mobile {
			font-size: 1.4rem;
			padding:8px 20px;
		}
		
		background-color: transparent;
		border: 1px solid @white-color;
	}
}

/*Social links*/
.social-links {
	.center-align;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	.list-reset;


	li {
		.inline-block;
		padding: 0 10px;
		font-size: 1.6rem;
		line-height: 1;

		@media @mobile {
			padding: 0 5px;
		}

		a {
			.block;
			border-radius: 100%;
			border: 1px solid @white-color;
			font-size: 1.6rem;
			color: @white-color;
			.width(35px);
			.height(35px);
			line-height: 33px;
			
		}
	}
}


/*Ajax spinner*/
/* Custom CF7 Loader */
div.wpcf7 .ajax-loader {
background-image: url('../gfx/ajax-loader.gif');
width: 24px;
height: 24px;
margin-left: 10px;
}




