
.column {
    flex-basis:100%;
    padding: 15px;
}

.col-content {
    background: #ddd;
    text-align: center;

}

@media only screen and (min-width:768px) {
    .row {
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
         -moz-box-pack: justify;
    }

    .column {
        flex:1;
    }

    .col-25 {
        flex: 2.5;
    }

    .col-50 {
        flex:5;
    }

    .col-75 {
        flex: 7.5;
    }

}







