/*Home slider styles*/
#move-slider {
	.relative;
	.overflow-hidden;
	.width(100%);

	.slides-container {
		.height(100%);
		.relative;
		display: table;

		.slide {
			display: table-cell;
			.width(100%);
			.height(100%);
			background-color: transparent;
			opacity: 1;
			vertical-align: top;

			.slide-bck {
				background-position: 50% 50%;
    			background-size: cover;
    			background-repeat: no-repeat;
    			.relative;
    			.overflow-hidden;

    			&.slide-bck1 {
    				background-image: url('../gfx/slide-1.jpg');
    			}

    			&.slide-bck2 {
    				background-image: url('../gfx/slide-2.jpg');
    			}

    			&.slide-bck3 {
    				background-image: url('../gfx/slide-3.jpg');
    			}

    			&.slide-bck4 {
    				background-image: url('../gfx/slide-4.jpg');
    			}

    			&.slide-bck5 {
    				background-image: url('../gfx/slide-5.jpg');
    			}


    			.mask {
    				.absolute;
    				.height(100%);
    				.width(100%);
    				.left(0);
    				.top(0);
    				.z-index(80);
    				background: fade(@black-color, 40%)
    			}


    			.slide-content {
    				.absolute;
    				.height(100%);
    				.width(100%);
    				.left(0);
    				.top(0);
    				.z-index(120);

    				.slide-content-inner {
    					.relative;
    					.height(100%);
    					.width(100%);
						padding: 0 10%;
						z-index: 400;

						display: flex;
						justify-content:flex-start;
						align-items:center;

						@media @desktop-height {
							justify-content:center;
						}

						@media @tablet-medium {
							justify-content:center;
						}

					

						.slide-key-message {
							max-width: 800px;
							.width(100%);
							color: @white-color;
							border-left: 8px;
							border-left: 10px solid @yellow-color;
							padding-left: 60px;
							.relative;

							@media @desktop-height {
								max-width: 100%;
							}

							@media @tablet-small {
								border: none;
							}

							@media @mobile {
								 padding-left:0px;
							}

							@media @desktop-height {
								padding-left:60px;
							}

							opacity: 0;
    						transform:translateX(-10px);
    						-webkit- transform:translateX(-10px);
						}


    				}
    			}
			}
		}
	}

	#nav-container {
		.absolute;
		.z-index(130);
		max-width: 580px;
		.width(100%);
		.bottom(12%);
		.left(5%);

		.list-bottom-container {
			.relative;
			.width(100%);

			#home-pagination {
				.list-reset;
				display: flex;
				justify-content:space-between;

				li {
					.relative;
					flex:1;
					display: flex;
					justify-content:flex-end;
					flex-direction:column;

					&:after {
						.absolute;
						.width(52%);
						.height(1px);
						background-color: @green-color;
						content: "";
						.block;
						.top(48%);
						.left(106%);
					}

					&:last-child {
						&:after {
							.none;
						}
					}

					.diamond-number {
						.width(35px);
						.height(35px);
						.block;
						color: @white-color;
						.center-align;
						cursor: pointer;
						.rotate(-45deg);
						border: 1px solid @green-color;
						-webkit-transform-origin: 50% 50%;
  						-moz-transform-origin: 50% 50%;
  						-ms-transform-origin: 50% 50%;
 						-o-transform-origin: 50% 50%;
  						transform-origin: 50% 50%;
  						.relative;
  						.transition(all,.3s, linear);
  						z-index: 200;

  						align-self:flex-end;

  						&.active-diamond {
  							background: @white-color;
  							color: @grey-color;
  						}

  						.bullet-number {
  							.center-align;
  							font-weight: normal;
  							font-size: 1.4rem;
  							.absolute;
  							.top(50%);
  							.left(48%);
  							 transform: translate(-50%, -50%) rotate(45deg);
  							 -webkit-transform: translate(-50%, -50%) rotate(45deg);
  							 -ms-transform: translate(-50%, -50%) rotate(45deg);



  						}
					}

					.pag-text {
						line-height: 1.2;
						font-size: 1.4rem;
						color: @white-color;
						.center-align;
						margin-top: 20px;
						.absolute;
						.top(40px);

						@media (max-width:1366px) {
  							font-size: 1.2rem;
  						}

						&.home-text {
							.left(55px);

							@media (max-width:1366px) {
								.left(60px);
							}
						}

						&.hosp-text {
							.left(44px);
						}

						&.housing-text {
							.left(54px);
						}

						&.edu-text {
							.left(46px);
						}

						&.care-text {
							.left(40px);

							@media (max-width:1366px) {
								.left(44px);
							}
						}

						&.manu-text {
							.left(34px);

							@media (max-width:1366px) {
								.left(40px);
							}
						}
					}
				}
			}

		}

		@media @tablet-small {
			.none;
		}
	}


	.small-device-nav {
		.absolute;
		.z-index(145);
		.left(50%);
		.translate(-50%,0);
		.width(100%);
		.bottom(5%);
		max-width: 100%;
		padding:0 30px;
		.none;

		@media @tablet-small {
			.block;
		}

		.small-divice-inner {
			.relative;
			.width(100%);
			height: 50px;
			.margin-auto;

			@media @desktop-height {
				height: 50px;
			}

			.arrows {
				.absolute;
				.width(50px);
				.height(50px);
				.top(0);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50% 50%;
				text-indent: -99999em;
				cursor: pointer;
				.transition(all,.3s,ease-in-out);

				@media @desktop-height {
					.width(50px);
					.height(50px);
				}


				&.arrow-left {
					.left(0);
					background-image: url('../gfx/left-arrow.svg');
				}

				&.arrow-right {
					.right(0);
					background-image: url('../gfx/right-arrow.svg');
				}

				&.disabled {
					opacity: 0.2;
				}
			}
		}
	}
}










