.preserve3d() {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.encoded-svg-background(@svg) {
    @url: `encodeURIComponent(@{svg})`;
    background-image: url("data:image/svg+xml;charset=utf-8,@{url}");
}


.font-family (@font-family:@font-family) {
	font-family: @font-family;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase{
	text-transform:lowercase;
}


.clearfix-group {
	 zoom: 1;

	&:before, &:after {
    	content: "";
    	display: table;
  	}

  	&:after {
		clear:both;
  	}
}

.max-width(@max-width) {
	max-width: @max-width;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.margin-auto {
	margin: 0 auto;
}

.padding-margin-reset {
	padding:0;
	margin:0;
}

.text-decoration {
	text-decoration: none;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-center {
	overflow: hidden;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.center-align {
	text-align: center;
}

.v-x {
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}


.v-y {
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}

.v-position {
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}

.width(@width) {
	width: @width;
}

.height(@height) {
	height: @height;
}

.top(@top) {
	top: @top;
}

.left(@left) {
	left: @left;
}

.bottom(@bottom) {
	bottom: @bottom;
}

.z-index(@z-index) {
	z-index: @z-index;
}

.right(@right) {
	right: @right;
}

.overflow-x {
	overflow-x:hidden;
}

.overflow-y {
	overflow-y: auto;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.overflow-hidden {
	overflow: hidden;
}


.content {
	content: "";
}


.line-height(@line-height) {
	line-height: @line-height;
}


.float(@float) {
	float: @float;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.none {
	display: none;
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.table {
	display: table;
}

.cell {
	display: table-cell;
}

.background-size(@background-size:cover, @background-repeat:no-repeat) {
	background-size: @background-size;
	background-repeat: @background-repeat;
}


/*TRANSITIONS*/
.transition(@prop:all, @time:1s, @ease:linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.translate(@x,@y) {
	-webkit-transform: translate(@x, @y);
  	-ms-transform: translate(@x, @y);
   	-o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.rotate(@deg) {
	transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
}

.scale (@factor:1) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}

.border-radius(@radius:0px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}


/*FORM STYLING*/ 

.form-reset(@border-radius:0, @box-shadow:none,@line-height:1.5) {
	border-radius: @border-radius;
	box-shadow: @box-shadow;
	line-height: @line-height;
}

.placeholder(@color:@blackColor, @font-size:@normalSize) {
	color: @color;
	font-size: @font-size;
}

/*FLEX MIXINS*/

.flex {
    display: -webkit-box; 
    display: -moz-box; 
    display:-webkit-flex;
    display: -ms-flexbox;
    display:flex;
}


.flex-justify(@justifyStyle) {

    .ms-flex-justify(@justifyStyle);
    -webkit-justify-content: @justifyStyle;
    justify-content: @justifyStyle;
}

.flex-direction(@direction) {
  -ms-flex-direction:@direction;
 -webkit-flex-direction:@direction;
  flex-direction:@direction;
}

.flex-align-items(@alignStyle) {
    -ms-flex-align:@alignStyle;
    -webkit-align-items:@alignStyle;
     align-items: @alignStyle;   
}

.flex-align-self(@selfAlignStyle) {
  .ms-flex-align-self(@selfAlignStyle);
  -webkit-align-self:@selfAlignStyle;
  align-self: @selfAlignStyle;
}

.flex-order(@order) {
  -ms-flex-order:@order;
  -webkit-order:@order;
  order:@order; 
}

.flex-wrap(@wrap) {
  -ms-flex-wrap:@wrap;
  -webkit-flex-wrap:@wrap;
   flex-wrap:@wrap; 
}


.ms-flex-justify(@msJustify) when (@msJustify = space-between)  {
    -ms-flex-pack:justify;
}

.ms-flex-justify(@msJustify) when (@msJustify = space-around) {
    -ms-flex-pack:distribute;
}

.ms-flex-justify(@msJustify) when (@msJustify = flex-end) {
    -ms-flex-pack:end;
}

.ms-flex-justify(@msJustify) when (@msJustify = flex-start) {
    -ms-flex-pack:start;
}

.ms-flex-justify(@msJustify) when (@msJustify = center) {
    -ms-flex-pack:center;
}

.ms-flex-align-self(@msSelfAlign) when (@msSelfAlign = flex-end) {
    -ms-flex-item-align: end;
}

.ms-flex-align-self(@msSelfAlign) when (@msSelfAlign = flex-start) {
    -ms-flex-item-align: start;
}

.ms-flex-align-self(@msSelfAlign) when (@msSelfAlign = auto), (@msSelfAlign = center),(@msSelfAlign = baseline), (@msSelfAlign = stretch) {
    -ms-flex-item-align: @msSelfAlign;
}



