
.navigation-hidden-switcher {
	.left(0);
	.top(0);
	.z-index(110);
	.fixed;
	.width(100%);

	&.top-index {
		.z-index(150);
	}

	.main-nav-wrapper {
		&.is-opened {
			.nav-container {
				.block;
			}
		}
	}

	/*Main navigation*/
	.nav-container {
		.width(100%);
		.absolute;
		.z-index(200);
		.height(100vh);
		color: @yellow-color;
		.z-index(200);
		.none;
		
		.background {
			-moz-transform-origin: 100% 0;
    		-ms-transform-origin: 100% 0;
    		-webkit-transform-origin: 100% 0;
    		transform-origin: 100% 0;
    		.absolute;
    		.width(100%);
    		.height(100%);
    		.z-index(900);
    		background: @white-color;
		}

		.outer-flex {
			display: flex;
			justify-content:center;
			align-items:center;
			padding: 0 20%;

			

			.height(100%);
			.width(100%);

			.relative;
			.z-index(1000);

			.inner-flex {
				/*display: table-cell;
    			vertical-align: middle;*/
    			flex:1;
    			@media @mobile {
    				padding-top: 60px;
    			}

    			@media @desktop-height {
					padding-top:0px;
				}

    			.menu {
					.width(100%);
					max-width: 1000px;
					.list-reset;
					.center-align;

					li {
						line-height: 1.4;
						margin-bottom: 8px;

						@media @desktop-height {
							line-height: 4.0vh;
							margin-bottom:3.6vh;
						}
						



						&:last-child {
							margin-bottom: 0;
						}

						a {
							color: @grey-color;
							transition: color 0.2s ease 0s;
							.inline-block;
							.uppercase;
							font-weight: 700;
							font-family:@header-family;
							.relative;

							@media (min-width:320px) {
								font-size: 1.6rem;
							}

							@media (min-width:641px) {
								font-size: 2.8rem;
							}

							@media (min-width:1366px) {
								font-size: 3.0rem;
							}

							@media (min-width:1920px) {
								font-size: 4.0rem
							}

							@media @desktop-height {
								font-size: 3.8vh;
							}

							&:after {
								.block;
								 content:"";
								  border-bottom: solid 2px @grey-color; 
								  transform: scaleX(0);  
								  transition: transform 250ms ease-in-out;
							}

							&:hover {
								color: @yellow-color;
								&:after {
									transform: scaleX(1);
									 border-bottom: solid 2px @yellow-color; 
								}
								
							}
						}
					}
    			}
			}
		}
	}
}



	.shape-triangle {
		.fixed;
		.z-index(600);
		.width(19vw);
		.height(9vw);
		.top(0);
		.left(-1500px);
		opacity:0;



    	&.scroll-header {
    		.width(16vw);
			.height(10vw);

			&:before {
				border-top:10vw solid @white-color;
				border-right:16vw solid transparent;

				@media (max-width:1170px) {
					border-top:15vw solid @white-color;
					border-right:22vw solid transparent;
				}

				@media @tablet-medium {
					border-top:none;
					border-right:none;
				}
			}

			@media (max-width:1170px) {
				.width(22vw);
				.height(15vw);
			}

			@media @tablet-medium {
				.height(60px);
				.width(100%);
				background-color: @white-color;
			}

			@media @desktop-height {
				.width(65px);
			}
    	}

    	@media (max-width:1680px) {
    		.width(30vw);
    		.height(14vw);
    	}


    	@media (max-width:1366px) {
    		.width(24vw);
    		.height(12vw);
    	}

    	@media (max-width:1170px) {
    		.width(38vw);
    		.height(16vw);
    	}


    	@media @tablet-medium {
			.height(60px);
			.width(100%);
			background-color: @white-color;
		}

		@media @desktop-height {
			.width(65px);
		}


    	&:before {
			.content;
			.z-index(900);
			.top(0);
			.left(0);
			.absolute;
			border-top:9vw solid @white-color;
			border-right:19vw solid transparent;
			
			opacity: 0.8;


			@media (max-width:1680px) {
    			
    			border-right:30vw solid transparent;
    			border-top:14vw solid @white-color;
    		}

    		@media (max-width:1366px) {
    			
    			border-right:24vw solid transparent;
    			border-top:12vw solid @white-color;
    		}
    	

			@media (max-width:1170px) {
    			border-right:38vw solid transparent;
    			border-top:16vw solid @white-color;
    	}

			@media @tablet-medium {
				border-top:none;
				border-right:none;
			}
		}

		

		.logo-link-wrapper {
			.relative;
			.width(100%);
			.overflow-hidden;
			.z-index(1000);
			display: flex;
			justify-content:flex-start;
			align-items:center;
			opacity:1;

			@media @desktop-height {
				.none;
			}

			.logo-link {
				.width(38%);
				.overflow-hidden;
				.inline-block;
				margin:10px 0 10px 20px;
				.height(100%);



				@media @tablet-medium {
					.width(30%);
					margin-left: 15px;
					margin-top: 10px;
				}

				img {
					max-height: 70px;
					.width(190px);
					@media @tablet-medium {
						max-height: 35px;
					}
				}
			}
		}

		.switcher-top {
			.relative;
			margin-left: 20px;
			cursor: pointer;
    		.height(25px);
    		.width(35px);
    		.transition(all,.3s,ease-in-out);
    		.z-index(1200);
			margin-top: 0px;
    		

    		@media @tablet-medium {
    			margin-top: 0;
    			margin-left: 0;
    			.absolute;
    			.top(20px);
    			.right(15px);
    		}

    		

    		.slice {
    			background: @grey-color;
    			.block;
    			.height(5px);
    			.left(0);
    			.absolute;
    			.width(100%);
    			.transition(all,.3s,ease-in-out);
    			.rotate(0deg);

    				&.slice1 {
    					transform-origin: left center;
    					.top(0);
    				}

    				&.slice2 {
    					transform-origin: left center;
    					.top(10px);
    				}

    				&.slice3 {
    					transform-origin: left center;
    					.top(20px);
    				}
    		}

    		&.open-nav {
    			.slice {

    				&.slice1 {
    						.top(0);
    						.left(8px);
    						.rotate(45deg);
    					}

    					&.slice2 {
    						opacity:0;
    						.width(0);
    					}

    					&.slice3 {
    						.left(8px);
    						.rotate(-45deg);
    						.top(25px);
    					}
    			}
    		}
		}
	}

/*Top stripe navigation*/

.header-bar {
	.width(100%);
	.height(80px);
	background:@white-color;
	

	@media @mobile {
		.height(60px);
	}
	

	&.fixed-top-header {
		.fixed;
		.top(0);
		.left(0);
		.z-index(400);
		overflow: hidden;

	}

	.logo-wrapper {
		display:flex;
		justify-content:center;
		align-items:center;
		.height(100%);
	}

	.main-logo-container {
		
		.relative;
		.overflow-hidden;
		.width(100%);
		max-width: 130px;
		.transition(all,.3s, ease-in-out);
		

		@media @mobile {
			max-width: 110px;
		}

		.main-logo-link {
			.block;
			.width(100%);
			.height(100%);
		}
	}

	.switcher-wrapper {

		.absolute;
		.right(15px);
		.height(100%);
		.top(0);
		.width(35px);
		

		.switcher-top {
			.relative;
			cursor: pointer;
    		.height(25px);
    		.width(35px);
    		.transition(all,.3s,ease-in-out);
    		.z-index(1200);
    		.top(50%);
    		.translate(0,-50%);
  

    		.slice {
    			background: @yellow-color;
    			.block;
    			.height(5px);
    			.left(0);
    			.absolute;
    			.width(100%);
    			.transition(all,.3s,ease-in-out);
    			.rotate(0deg);

    				&.slice1 {
    					transform-origin: left center;
    					.top(0);
    				}

    				&.slice2 {
    					transform-origin: left center;
    					.top(10px);
    				}

    				&.slice3 {
    					transform-origin: left center;
    					.top(20px);
    				}
    		}

    		&.open-nav {
    			.slice {

    				&.slice1 {
    						.top(0);
    						.left(8px);
    						.rotate(45deg);
    					}

    					&.slice2 {
    						opacity:0;
    						.width(0);
    					}

    					&.slice3 {
    						.left(8px);
    						.rotate(-45deg);
    						.top(25px);
    					}
    			}
    		}
		}
	}
}











