/*Pages*/
.main-page {
	background: @white-color;
	min-height: 100vh;
}

.flex-section {
	display: flex;
}

/*Headers*/

.header-page {
	.hero-banner {
		display: flex;
		.relative;
		align-items:flex-end;
		.height(50vh);
		.overflow-hidden;
		max-height: 450px;
		.width(100%);


		@media (min-width:320px) {
			max-height: 450px;
			.height(60vh);
		}

		@media @desktop-height {
			.height(100vh);
		}

		@media (min-width:1920px) {
			max-height: 600px;
		}

		.mask-img {
			.z-index(120);
			.absolute;
			.top(0);
			.right(0);
			.bottom(0);
			.left(0);
			background: fade(@black-color,25%);
		}

		.absolute-page-bck {
			.absolute;
			.top(0);
			.right(0);
			.bottom(0);
			.left(0);
			.z-index(100);
			background-position: 50% 50%;
			background-size: cover;
			background-repeat: no-repeat;

			&.bck-1 {
				background-image: url('../gfx/bck-1.jpg');
			}

			&.bck-2 {
				background-image: url('../gfx/slide-2.jpg');
			}

			&.bck-3 {
				background-image: url('../gfx/slide-3.jpg');
			}
		}
	}

	.badger-header-page {
		

		.btn-header {
			.inline-block;
			
			background: @yellow-color;

			.page-header {
					.center-align;
					.inline-block;
					letter-spacing: 0.5px;
					color: @white-color;
					vertical-align: middle;
					line-height: 1;

					span {
						color: @white-color;
						padding: 12px 30px 10px 30px;
						.block;
					}

					@media (min-width:320px) {
						font-size: 1.8rem;
					}

					@media (min-width:641px) {
						font-size: 2.2rem;
					}


					@media (min-width:993px) {
						font-size: 2.4rem;
					}

					@media (min-width:1680px) {
						font-size: 2.6rem;
					}
				}



			.header-flex {
				padding: 12px 30px 10px 30px;

				.page-header {
					.center-align;
					.inline-block;
					letter-spacing: 0.5px;
					color: @white-color;
					vertical-align: middle;
					line-height: 1;

					span {
						color: @white-color;
						padding: 12px 30px 10px 30px;
					}

					@media (min-width:320px) {
						font-size: 1.8rem;
					}

					@media (min-width:641px) {
						font-size: 2.2rem;
					}


					@media (min-width:993px) {
						font-size: 2.4rem;
					}

					@media (min-width:1680px) {
						font-size: 2.6rem;
					}
				}
			}
		}
	}
}

#testimonials {
	.filter-flex-list {
		display: flex;
		justify-content:space-between;
		.list-reset;
		flex-wrap:wrap;
		margin-bottom: 30px;

		li {
			width: 49.0%;
			flex:1;
			padding:5px;
			cursor: pointer;

			&.mixitup-control-active {
				span {
					background-color: @yellow-color;
					color: @white-color;
				}
				
			}

			@media (max-width:1025px) {
				width: 50%;
				justify-content:center;
				flex:auto;
			}

			@media @mobile {
				width: 100%;
			}

			span {
				.block;
				.center-align;
				padding:12px 14px 12px 14px;
				line-height: 1;
				font-size: 1.6rem;
				color: @grey-color;
				border: 1px solid @yellow-color;

				@media (max-width:1170px) {
					font-size: 1.4rem;
				}
			}
		}
	}

	.testimonials-section {
		display: flex;
		padding-bottom: 30px;
		flex-wrap:wrap;


		@media @mobile {
			padding-left: 0px;
			padding-right: 0px;
		}

		.testimonial-article {

			.width(33.33%);
			overflow: hidden;
			min-height: 20vh;
			display: flex;
			flex-wrap:wrap;
			padding: 0.5em;

			&:nth-child(2n+1) {
				.article-inner {
					border: 1px solid @yellow-color;
				}
			}
			
			@media (max-width:1680px) {
				 .width(50%);

			}

			@media (max-width:1680px) {
				.article-inner {
					border: 1px solid @yellow-color;
				}

				&:nth-child(4n+1),
				&:nth-child(4n) {
					.article-inner {
						border: none;
					}
				}

			}



			@media @tablet-small {
				.width(100%);
				justify-content:center;

				&:nth-child(4n+1),
				&:nth-child(4n) {
					.article-inner {
						border: 1px solid @yellow-color;
					}
				}

			}


			.article-inner {
				display: flex;
				flex-wrap:wrap;
				flex-direction:column;
				justify-content:flex-start;
				padding: 20px 30px;


				

				/*@media (max-width:1440px) {

					border: 1px solid @yellow-color;

					&:nth-child(4n+1),
					&:nth-child(4n) {
						
						border: none;
					}

				}
*/
					.testimonial-header {
		                color: @yellow-color;
		                font-size: 3.0rem;
		                margin-bottom: 15px;
		                font-family:@regular-font;
		                line-height: 1.5;
		                .width(100%);

		                @media @tablet-medium {
		                    font-size: 2.6rem;
		                }

		                @media @mobile {
		                    font-size: 2.0rem;
		                }



		                span {
		                    .block;
		                    line-height: 1.0;
		                }
	            }

	            .content-test {
	                font-size: 1.5rem;
	                margin-bottom: 20px;
	                .width(100%);
	                @media @mobile {
	                    font-size: 1.4rem;
	                }
	            }

	            .author-content {
	                font-size: 1.5rem;
	                color: @yellow-color;
	                .width(100%);

	                @media @mobile {
	                    font-size: 1.4rem;
	                }

	                span {
	                    .block;
	                }
	            }

	            .test-footer {
	                display: flex;
	                justify-content:flex-end;
	                align-items:flex-end;
	                margin-top: 20px;
	                align-self:flex-end;
	                .width(100%);
	                align-self:flex-end;
	                /*Trick to set last element on the bottom*/
	                margin-top: auto;


	                .test-logo {
	                    .width(50%);
	                    .right-align;

	                    img {
	                        max-height: 70px;
	                    }
	                }
	            }
			}

		}
	}
}

/*About Us*/

.pages-headers {
	margin-bottom:10px;

	&.left-header {
		.left-align;
	}

	&.right-header {
		.right-align;
		@media @tablet-small {
			.left-align;
		}
	}


	@media (min-width:320px) {
		font-size:2.2rem;
	}

	@media (min-width:641px) {
		font-size:3.0rem;
	}


	@media (min-width:765px) {
		font-size:3.8rem;
		.left-align;
	}


	@media (min-width:1680px) {
		font-size:4.0rem;
	}

	@media (min-width:1920px) {
		font-size:5.0rem;
	}
	&.grey-header {
		color: @grey-color;
	}
}

.about-section {
	margin-bottom: 40px;
	display: flex;
	flex-wrap:wrap;

	a {
		color: @grey-color;
		text-decoration: underline;
	}

	.image-column {
		.overflow-hidden;
		.relative;
		.width(30%);

		@media @tablet-small {
			.width(100%);
		}

		.feature-img {
			border:4px solid @yellow-color;
			.block;
			.width(100%);
			.height(100%);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			padding-bottom: 100%;

			&.feature-1 {
				background-image: url('../gfx/slide-1.jpg');
			}

			&.feature-2 {
				background-image: url('../gfx/slide-2.jpg');
			}

			&.feature-3 {
				background-image: url('../gfx/slide-4.jpg');
			}

			&.feature-4 {
				background-image: url('../gfx/fabric-bck.jpg');
			}
		}
	}

	.text-column {
		.overflow-hidden;
		.relative;
		.width(70%);
		max-width: 800px;

		@media (max-width:1680px) {
			max-width: 700px;
		}

		@media @tablet-small {
			.width(100%);
			max-width:100%;
		}

	}

	&:last-child {
		margin-bottom: 40px;
	}

	&.left-align {
		justify-content:flex-start;
		align-items:center;
		min-height: 30vh;

		.text-column {
			padding-left: 4%;

			@media @tablet-small {
				padding-left: 0;
				order:1;
				margin-bottom: 30px;
			}

			p {
				.left-align;
			}
		}

		@media @tablet-small {
			.image-column {
				order:2;
			}
		}
	}



	&.right-align {
		justify-content:flex-end;
		align-items:center;
		min-height: 30vh;

		.image-column {
			order:2;
		}

		.text-column {
			padding-right: 4%;
			order:1;

			p {
				text-align: right;

				@media @tablet-small {
					text-align: left;
				}
				
			}

			@media @tablet-small {
				margin-bottom: 30px;
			}
		}
	}
}

/*Contact us page*/
.contact-container {
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;

	.contact-details-column {
		flex:1;
		padding-right: 4%;

		@media @tablet-small {
			flex:auto;
			.width(100%);
			margin-bottom: 40px;
			padding-right: 0;
		}
	}

	.form-column {
		flex:1;
		.width(50%);
		padding-left: 4%;

		@media @tablet-small {
			flex:auto;
			.width(100%);
			padding-left: 0;
		}
	}


	.contact-header {
		color: @yellow-color;
		font-size: 3.0rem;
		margin-bottom: 15px;
		font-family:@regular-font;
		line-height: 1.5;
		.width(100%);

		@media @tablet-medium {
			font-size: 2.6rem;
		}

		@media @mobile {
			font-size: 2.4rem;
		}

	}

	.inner-header {
		color: @yellow-color;
		font-size: 2.4rem;
		margin-bottom: 15px;
		font-family:@regular-font;
		line-height: 1.5;
		.width(100%);

		@media @tablet-medium {
			font-size: 2.2rem;
		}

		@media @mobile {
			font-size: 1.8rem;
		}
	}

	.top-paragraph {
		margin-bottom: 25px;
	}

	.contact-details-wrapper {
		margin-bottom: 40px;
		p {
			margin-bottom: 15px;
			i {
				color: @yellow-color;
				font-size: 2.0rem;
				margin-right:8px;
			}

			a {
				color: @grey-color;
				text-decoration: none;


				@media @tablet-large {
					cursor: pointer;
				}
			}
		}
	}

	.ena-address-box {
		margin-bottom: 40px;
	}

	.map-content {
        .overflow-hidden;
        .relative;

        #map {
            &:after {
                padding-bottom: 80%;
                content: "";
                .block;
            }
        }

        .map-pin-link {
        	.block;
        	margin-top: 20px;
        	color: @grey-color;
        	text-decoration: none;
        	font-size: 1.4rem;
        }
    }
}


.contact-form {
	.overflow-hidden;
     .width(100%);

    .spacer-wrapper {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom:20px;
        }
    }

    	div.wpcf7-mail-sent-ok {
            border-color: @grey-color !important;
        }

        div.wpcf7-validation-errors {
            border-color: #e60016 !important;
        }

        span.wpcf7-not-valid-tip {
            color: #e60016 !important;
        }




        input, 
        textarea {
            background-color:transparent;
            border: 1px solid @yellow-color;
            box-shadow:none !important;
            color: @yellow-color;
            .height(50px);
            .width(100%);
            .block;
            border-radius:0;
            line-height: 48px;
            padding:0 10px;
           font-size: 1.6rem;

            &:focus {
                outline:none;
                border:1px solid @yellow-color;
            }
        }


         textarea {
            min-height:300px;
            padding: 10px;
            line-height: 1.5;
           	font-family: @regular-font;
           	font-size: 1.6rem;
        }


        .send-btn {
            .inline-block;
            padding: 0 20px;
            cursor: pointer;
            .center-align;
            font-size: 1.6rem;
            color: @white-color;
            background-color:@yellow-color;
            .height(40px);
            line-height: 38px;
            width: 140px;
            text-transform: uppercase;
            border-radius: none !important;
            .float(right);
            border-color: @yellow-color;

        }

         ::-webkit-input-placeholder {
            color:@yellow-color;
                 font-family: @regular-font;
           		font-size: 1.6rem;
            }

        ::-moz-placeholder {
            color:@yellow-color;
            font-family: @regular-font;
           	font-size: 1.6rem;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color:@yellow-color;
            font-family: @regular-font;
           	font-size: 1.6rem;
        }
}

.video-container {
	.relative;
	.width(100%);
	.overflow-hidden;


	@media @tablet-medium {
		padding-top: 60px;
	}

	@media @desktop-height {
		padding-top:0;
	}
}

.video-flex {
	.width(100%);
	/*.height(100%);*/
	.relative;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	align-items: center;
	.height(100%);



	.videoIframe {
		.width(100%);
		.height(100%);
		.absolute;
		.width(100%);
		.height(100%);
		.top(0);
		.left(0);
		.bottom(0);
		.right(0);
	}

	.videoPoster {
    	background-image: url('../gfx/poster.jpg');
    	.width(100%);
		.height(100%);
		.absolute;
		.width(100%);
		.height(100%);
		.top(0);
		.left(0);
		.bottom(0);
		.right(0);
    	margin: 0;
  		padding: 0;
  		cursor: pointer;
  		border: 0;
  		outline: none;
		 background-position: 50% 50%;
		 background-size: 100% 100%;
		 background-size: cover;
		 text-indent: -999em;
		 overflow: hidden;
		 opacity: 1;
		 .transition(all,.6s,linear);

		 	&:before {
			 	 content: '';
			 	 .absolute;
			 	 .top(50%);
			 	 .left(50%);
			 	 .width(80px);
			 	 .height(80px);
			 	 margin: -40px 0 0 -40px;
			 	 border: 5px solid @yellow-color;
			 	 border-radius: 100%;
			 	 .transition(all,.3s,linear);
			}

			&:after {
		 	 	 content: '';
		 	 	.absolute;
		 	 	.top(50%);
		 	 	.left(50%);
		 	 	.width(0);
		 	 	.height(0);
		 	 	margin: -20px 0 0 -10px;
    			border-left: 40px solid @yellow-color;
    			border-top: 25px solid transparent;
    			border-bottom: 25px solid transparent;
    			.transition(all,.3s,linear);
		 	 }
	}


	#video-controls {
			.z-index(600);
			.width(100%);
			background-color: transparent;
			.height(66px);
			.bottom(0);
			.left(0);
			.right(0);
			.absolute;
			.overflow-hidden;
				

			@media @mobile {
				.none;
			}

				#play-pause {
					border:0;
					background-color: transparent;
					cursor: pointer;
					.absolute;
					.top(0);
					.left(0);
					.width(66px);
					.height(66px);
					outline: none !important;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					z-index: 600;


					&.play {
	
						background-image: url('@{img-gfx}/play-ico.png');

					}

					&.pause {
						background-image: url('@{img-gfx}/pause-ico.png');
					}
				}

				#full-screen {
					.block;
					.width(24px);
					.height(24px);
					.absolute;
					background-image: url('@{img-gfx}/full-screen-ico.png');
					outline: none !important;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					.right(25px);
					.top(50%);
					.translate(0, -50%);
					text-indent: -99999em;
					box-shadow: none;
					border: none;
					background-color: transparent;
					cursor: pointer;
					z-index: 600;
				}

				input[type="range"] {

					.width(80%);
					 -webkit-appearance: none;
    				-moz-apperance: none; 
    				.absolute;
    				.left(50%);
    				.top(50%);
    				margin-top: 4px;
    				margin-left: -40%;
    				.translate(0, -50%);
    				z-index: -4;

    				@media @mobile {
    					.width(60%);
    					margin-left: -30%;
    				}
				}


				input[type=range]::-webkit-slider-runnable-track {
					.width(80%);
					.height(12px);
					cursor: pointer;
					background: @grey-color;
					.left(50%);
    				.top(50%);
    				margin-top: -6px;
				}

				input[type=range]:focus {
  					outline: none;
				}

				input[type=range]::-webkit-slider-thumb {

					-webkit-appearance: none !important;
    				background-color: @white-color;
    				border: 1px solid @white-color;
    				.height(12px);
    				.width(12px);
    				cursor: pointer;
				}

				input[type=range]:focus::-webkit-slider-runnable-track {
					background: @grey-color;
				}

				input[type=range]::-moz-range-thumb {
					-webkit-appearance: none !important;
    				background-color: @white-color;
    				border: 1px solid @white-color;
    				.height(12px);
    				.width(12px);
    				cursor: pointer;
				}

				input[type=range]::-moz-range-track {

					.absolute;
    				.left(50%);
    				.top(50%);
    				.translate(0, -6%);
    				margin-top: 4px;
    				margin-left: -50%;
    				.width(100%);
					.height(12px);
					background: @grey-color;
					z-index: -4;

    				@media @mobile {
    					.width(60%);
    					margin-left: -30%;
    				}

				}

				input[type=range]::-ms-track {
					.width(100%);
					.height(8px);
					.top(0);
					margin-top: 0;
  					cursor: pointer;
					background: transparent;
  					border-color: transparent;
  					border-width: 14px 0;
  					color: transparent;
				}

				input[type=range]::-ms-fill-lower {
					background: @grey-color;
					border: 0.8px solid @grey-color;
					.top(0);
					margin-top: 0;
				}

				input[type=range]::-ms-fill-upper {
					background: @grey-color;
  					border: 0.8px solid @grey-color;
  					.top(0);
					margin-top: 0;
				}

				input[type=range]::-ms-thumb {
					background: @white-color;
  					cursor: pointer;
  					 .height(12px);
    				.width(12px);
    				border: 1px solid @white-color;
				}


			}
}


/*Footer*/
.footer-page-logo {
	padding:40px 0px;
	border-top: 4px solid @yellow-color;

	@media @tablet-small {
		padding:15px 0px;
	}
}

.footer-logos {
	justify-content:space-between;
	

	@media @tablet-small {
		flex-wrap:wrap;
	}
	

	.logo-bottom {
		.width(62%);
		padding: 0 10px;
		/*flex:1;
		display: flex;
		justify-content:center;
		align-items:center;*/
		height: 135px;
		margin: 0 auto;
		text-align: center;

		img {
			.relative;
			.top(50%);
			.translate(0,-50%);
			margin: 0 auto;
			text-align: center;
		}

		@media @tablet-medium {
			flex:auto;
			.width(45%);
		}

		@media @tablet-small {
			flex:auto;
			.width(65%);
		}


		@media @mobile {
			flex:auto;
			.width(62%);
		}
	}
}


/*Test ratio*/
.aspect-ratio {
	.relative;
	background-color: hsl(0,80%,70%);
	padding-bottom: calc(1 / (16 / 9) * 100%);

	.aspect-wrapper {
		.absolute;
		.top(0);
		.left(0);
		.width(100%);
		.height(100%);
		background-image: url('../gfx/slide-1.jpg');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}



