.testimonials-slider {
	.width(100%);
	.relative;
	.clearfix-group;

	&.owl-carousel{
		.owl-dots {
        	.center-align;
             .overflow-hidden;
             .width(100%);
             .absolute;
             .bottom(-60px);
             .z-index(90);

             .owl-dot {

                .inline-block;
                    span {
                      border-radius:50%;
                      background: @white-color;
                      .width(15px);
                      .height(15px);
                      margin:7px 5px;
                      .block;
                }

                &.active {
                    span {
                        background: @salmon-color;
                    }
                }
            }
    	}
	}

		.testimonial-headers {
			.center-align;
			margin-bottom:30px;

				.testimonial-name {
									
					margin-bottom: 5px;
					font-weight: 300;

					 @media (min-width:320px) {
					 	font-size: 2.4rem;
					 }

					 @media (min-width:1366px) {
					 	 font-size: 3.2rem;
					 }

					 @media (min-width:1680px) {
					 	 font-size: 3.5rem;
					 }

					 @media (min-width:1920px) {
					 	 font-size:4.0rem;
					 }
				}

				.testimonial-company {
							
				 @media (min-width:320px) {
				 	font-size: 1.6rem;
				 }

				 @media (min-width:1366px) {
					 	 font-size: 2.4rem;
					}

			  	@media (min-width:1680px) {
			 	 	font-size: 2.6rem;
			 	}

				 @media (min-width:1920px) {
				 	 font-size: 2.8rem;
				 }
			}

		}
}