/*FONT FAMILY*/
@header-family:'Crimson Text', serif;
@regular-font:'Montserrat', sans-serif;


/*FONT WEIGHT*/
@extra-thin: 200;
@thin:300;
@regular:400;
@medium:600;
@semi-bold:700;
@bold:800;
@extra-bold:900;

/*COLORS*/
@black-color:#000;
@white-color:#fff;
@grey-color:#616161;
@blue-color:#79b5e3;
@salmon-color: #f16c78;
@yellow-color: #e6e04f;
@green-color:#cbff3d;
@dark-grey:#616161;


/*PATHS*/
@font-path: '../assets';
@img-gfx: "../gfx";


/*MEDIA QUERIES*/

@desktop-tv: ~"only screen and (min-width: 1920px)";
@desktop-large: ~"only screen and (min-width: 1680px)";

@desktop: ~"only screen and (min-width: 1366px)";

@desktop-max: ~"only screen and (max-width: 1365px)";
@laptop-max: ~"only screen and (max-width: 1279px)";

@laptop: ~"only screen and (max-width: 1366px)";

@desktop-normal:      ~"only screen and (max-width: 1280px)";
@desktop-small:      ~"only screen and (max-width: 1200px)";
@tablet-large:      ~"only screen and (max-width: 1025px)";

@desktop-height:  ~"screen and (min-width:481px) and (max-width:667px) and (max-height:680px)";
@landscape-medium: ~"only screen and (min-width:670px) and (max-height:576px)";

@desktop-large-height:  ~"screen and (min-width:1680px) and (max-height:576px)";
@small-desktop-height:~"screen and (min-width:993px) and (max-height:620px)";
@small-desktop:~"screen and (min-width:993px) and (max-height:576px)";

@tablet:      ~"only screen and (max-width: 1025px)";
@tablet-medium:      ~"only screen and (max-width: 992px)";
@tablet-small:      ~"only screen and (max-width: 768px)";
@mobile:      ~"only screen and (max-width: 641px)";
@mobile-small: ~"only screen and (max-width: 480px)";

@long-desktop:~"screen and (min-width:1280px) and (max-height:800px)";




@media (min-width:320px)  {
	/* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:641px)  {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:992px)  { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */
 }

@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */
 }

@media (min-width:1281px) { 
	/* hi-res laptops and desktops */
 }

